    
* {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(#e0f9ff, #ffffff);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}


h3 {
    padding: 0 30px;
}

#daylight-tracker, h3{
    font-weight: 600;
  }

span {
    font-weight: 500;
}

.sunset-last-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

#enter-zip {
    font-size: 21px;
    font-weight: 500;
}

input[type=text] {
    width: 40%;
    /* height: 40px; */
    outline: 1px solid #6c6c6c;
    border: none;
    font-size: 27px;
}

#zip-input::placeholder {
    color: #c8c8c8;
}

#zip-input:focus::placeholder {
    color: transparent;
}

#time-left {
    font-size: 60px;
    font-weight: 300;

}

