    
* {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: rgb(4, 14, 49);
    /* box-sizing: border-box; */
}

body {
    background: linear-gradient(#e0f9ff, #ffffff);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.container {
    width: 40%;
    border: 1px solid rgb(4, 14, 49);
    border-radius: 5px;
    margin-top: 30px;
    padding-bottom: 12px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    margin-bottom: 0;
}

h4 {
    font-size: 21px;
    font-weight: 600;
}

#daylight-left-container {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#daylight-tracker, h3 {
    font-weight: 600;
  }

.times {
    font-weight: 300;
    font-size: 36px;
}


input[type=text] {
    width: 50%;
    min-width: 115px;
    outline: 1px solid rgb(4, 14, 49);
    border: none;
    font-size: 27px;
    margin-bottom: 5px;
}

#zip-input::placeholder {
    color: #c8c8c8;
}

#zip-input:focus::placeholder {
    color: transparent;
}

#buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

button {
    width: 24.2%;
    margin: 10px 7px;
    font-size: 16px;
    background-color: transparent;
    height: 40px;
    border: rgb(4, 14, 49) solid 1px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


#time-left {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 300;
    background-color: rgb(4, 14, 49);;
    padding: 0 30px 0 30px;
    border-radius: 5px;
}

#sunset-last-light-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunset-last-light {
    padding: 0 32px 30px 32px;
}